button {
    border: none;
    background-color: #ffffff00;
    color: #901C1C;
}

main {
    margin-bottom: 3em;
}

.no-scroll {
    overflow: hidden;
}

.scroll {
    overflow: scroll
}



.photograph-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    background-color: #FAFAFA;
    padding: 25px;
    margin-bottom: 10px;
}

.photograph-header img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    object-fit: cover;
}

.photographe-info {
    color: #525252;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

#contact_modal {
    display: none;
    position: fixed;
    z-index: 50;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    overflow: auto;
}

#contact-name {
    font-size: 40px;
    margin: 0;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    margin: 20px auto;
}

.modal header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.modal header h1 {
    font-size: 45px;
    font-weight: normal;
    text-align: left;
    margin: 0;
}

.modal header .close-modal {
    cursor: pointer;
    width: 30px;
    font-size: xx-large;
    color: #FAFAFA;
}

.modal form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

.modal form label {
    color: #312E2E;
    font-size: 30px;
}

.modal form div {
    display: flex;
    flex-direction: column;
    width: 99%;
    align-items: self-start;
    margin-bottom: 26px;
}

.modal form input {
    width: 100%;
    height: 40px;
    border: none;
    font-size: large;
}

.modal textarea {
    border-radius: 5px;
    width: 100%;
}

.btn-hover:hover,
.btn-hover:focus {
    background-color: #db8876;
    color: #000000;
}

.button-filter {
    background-color: #901C1C;
    color: white;
    padding-left: 17px;
    padding-right: 10px;
    width: 170px;
    height: 70px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    text-align: left;
    font-family: "DM Sans", sans-serif;
    line-height: 50px;
    position: relative;
}

.button-filter i {
    pointer-events: none;
}

.chevron {
    display: flex !important;
    float: right;
    line-height: unset !important;
}

.filter {
    display: flex;
    height: 76px;
}

.filter p {
    margin-right: 15px;
}

.filtersMenu-list>li:hover,
.filtersMenu-list>li:focus {
    background-color: #db8876;
    color: #000000;
}

.filtersMenu-list>li:last-child:before {
    border: none;
}

.filtersMenu-list {
    display: none;
    list-style: none;
    width: 170px;
    border-radius: 5px;
    color: white;
    background: #901C1C;
    overflow: hidden;
    position: initial;
    margin: 0;
    padding: 0;
    line-height: 50px;
    z-index: 1;
    left: 184px;
    height: 13em;
}

.filtersMenu-list>li {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 10px 10px 10px 17px;
    height: 50px;
    border: none;
    background-color: #901C1C;
    cursor: pointer;
    position: relative;
}

.filtersMenu-list>li::before {
    content: "";
    position: absolute;
    border-bottom: 1px solid white;
    width: calc(100% - 31px);
    bottom: 0;
}

.title {
    border-bottom: none !important;
}

#container-media {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

#container-media article {
    margin: 10px
}

.card-media {
    width: 300px;
    margin-top: 10px;
    cursor: pointer;
}

.figure-box {
    margin: 0px;
}

.card-media img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

.card-media video {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

.video-icon {
    position: absolute;
    margin: 10px;
    font-size: 30px;
    color: #901C1C;
}

.card-media .legende-box {
    display: grid;
    grid-template-columns: 1fr 0fr;
    margin: 5px;
    color: #901C1C;
}

.btn-like {
    display: flex;
}

.icon-like {
    margin-left: 5px;
    color: #901C1C !important;
    cursor: pointer;
    transition: transform 0.3s;
}

.buble-info {
    z-index: 30;
    width: 250px;
    position: fixed;
    bottom: 0px;
    right: 64px;
    background-color: #D3573C;
    color: black;
    text-align: center;
    padding: 10px;
    border-radius: 5px 5px 0px 0px;
    display: grid;
    grid-template-columns: 0.5fr 22px 0.9fr;
    text-align: end;
}

/* Caroussel */
#container-carousel {
    display: none;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: white
}

.carousel {
    position: relative;
    overflow: hidden;
    left: 0;
    top: 2%;
    background-color: white;
    width: 53%;
    margin-left: auto;
    margin-right: auto;
}

.carousel-container {
    transition: transform 0.3s;
    transform: translate3d(0, 0, 0);
}

.carousel-container::after {
    content: '';
    clear: both;
    display: table;
}

.carousel-item {
    float: left;
}

.item {
    text-align: center;
    height: auto;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.item img,
.item video {
    width: 100%;
    object-fit: cover;
    height: 633px;
    padding-top: 1em;
}

.carousel-sous-titre {
    margin: 0;
    text-align: left;
    color: #901C1C;
    width: 14em;
}

.carousel-exit {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 40px;
    height: 40px;
    font-size: x-large;
    top: 6%;
    margin-top: -20px;
    right: 45px;
    cursor: pointer;
    transition: transform 0.3s, opacity 0.3;
    color: #901C1C;
}

.carousel-next,
.carousel-prev {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 45px;
    cursor: pointer;
    transition: transform 0.3s;
    font-size: x-large;
    color: #901C1C;
}

.carousel-prev {
    right: auto;
    left: 45px;
}

@media (max-width: 962px) {
    #main {
        flex-direction: column-reverse;
        height: auto;
        margin: 0px 10px 0px 10px;
    }

    .photograph-header {
        flex-direction: column-reverse;
        height: auto;
    }

    .photograph-info {
        text-align: center;
    }

    .contact_button {
        margin-top: 5px;
    }
}

@media (max-width: 765px) {
    .modal header {
        flex-direction: column-reverse;
    }

    .modal header h1 {
        width: 75%;
        font-size: 35px;
    }

    .modal {
        width: auto;
        margin: 10px;
        padding: 14px;
        font-size: 35px;
    }

    #container-media {
        justify-content: center;
        padding-bottom: 5em;
    }

    .carousel {
        width: 100%;
    }

    .item {
        width: 80%;
    }

    .carousel-next,
    .carousel-exit {
        right: 0;
    }

    .carousel-prev {
        left: 0;
    }

    .buble-info {
        right: 0;
    }
}

@media (max-width: 962px) {
    .filtersMenu-list {
        left: 94px;
    }
}



/* .carousel-prev-hidden,
.carousel-next-hidden {
    opacity: 0;
}

.carousel-next:hover,
.carousel-prev:hover {
    transform: scale(1.2)
} */

/* .heart {
    color: #901C1C
}

.heart-vide {
    display: none;
}

.heart-plein {
    display: block;
} */